@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  background-image: url(../recursos/imagens/mar.jpg);
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-ligth {
  font-weight: 300;
}

.caixa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}